
            <div class="col-lg-12">
                <h1 class="page-header">About Us</h1>
            </div>

        <div class="row" id="row">

            <div class="col-md-3">
              <div id="AboutUsImageDiv1 " name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}}  >

                {{#AboutUsImageDiv1}}
                  <img class="img" class="img-responsive" src="{{image}}">
                {{/AboutUsImageDiv1}}

                {{#if admin}}
                    <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/updateImage"  ></a>
                    {{/if}}
              </div>
            </div>

            <div class="col-md-6"  >

              <div id="AboutUsDiv1 " name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}}  >
                {{#AboutUsDiv1}}

                <div class="Text" name="updatedText">
                  {{{updatedText}}}
                </div>
                {{/AboutUsDiv1}}



                {{#if admin}}
                    <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/update"  ></a>
                    {{/if}}
                  </div>

            </div>

            <div class="col-md-3">
              <div id="AboutUsImageDiv2 " name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}}  >

                {{#AboutUsImageDiv2}}
                  <img class="img" class="img-responsive" src="{{image}}">
                {{/AboutUsImageDiv2}}

                {{#if admin}}
                    <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/updateImage"  ></a>
                    {{/if}}
              </div>
                <!-- <img class="img" class="img-responsive" src="/Images/ClinicPics/dogInClinicKennel.jpg" alt=""> -->
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-3">
              <div id="AboutUsImageDiv3 " name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}}  >

                {{#AboutUsImageDiv3}}
                  <img class="img" class="img-responsive" src="{{image}}">
                {{/AboutUsImageDiv3}}

                {{#if admin}}
                    <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/updateImage"  ></a>
                    {{/if}}
              </div>
                <!-- <img class="img" class="img-responsive" src="/Images/Kennels/Dog1InKennel.jpg" alt=""> -->
            </div>

            <div class="col-md-6" >

              <div id="AboutUsDiv2" name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}} >
                {{#AboutUsDiv2}}

                  <!-- <div class = "Title" name="heading">
                     <h3>{{Title}}</h3>
                  </div> -->

                  <div class="Text" name="updatedText">
                    {{{updatedText}}}
                  </div>
                  {{/AboutUsDiv2}}
                  {{#if admin}}
                      <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/update"  ></a>
                      {{/if}}

              </div>




            </div>

            <div class="col-md-3">
              <div id="AboutUsImageDiv4 " name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}}  >

                {{#AboutUsImageDiv4}}
                  <img class="img" class="img-responsive" src="{{image}}">
                {{/AboutUsImageDiv4}}

                {{#if admin}}
                    <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/updateImage"  ></a>
                    {{/if}}
              </div>
              <!-- <img class="img" class="img-responsive" src="/Images/Cats/cute-cat-dog.jpg" alt=""> -->
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row" >

            <div class="col-md-3">
              <div id="AboutUsImageDiv5 " name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}}  >

                {{#AboutUsImageDiv5}}
                  <img class="img" class="img-responsive" src="{{image}}">
                {{/AboutUsImageDiv5}}

                {{#if admin}}
                    <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/updateImage"  ></a>
                    {{/if}}
              </div>
                <!-- <img class="img" class="img-responsive"  src="/Images/Slider/dogOnBeach.jpg" alt=""> -->

            </div>

            <div class="col-md-6" >

              <div id="AboutUsDiv3" name="ElementId" {{#if admin}}  class="Div borderClass"{{/if}}>
                {{#AboutUsDiv3}}

                <!-- <div class = "Title" name="heading">
                   <h3>{{Title}}</h3>
                </div> -->

                <div class="Text" name="updatedText">
                  {{{updatedText}}}
                </div>
                {{/AboutUsDiv3}}


                {{#if admin}}
                    <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/update"  ></a>
                    {{/if}}

                  </div>


            </div>

            <div class="col-md-3">
              <div id="AboutUsImageDiv6 " name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}}  >

                {{#AboutUsImageDiv6}}
                  <img class="img" class="img-responsive" src="{{image}}">
                {{/AboutUsImageDiv6}}

                {{#if admin}}
                    <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/updateImage"  ></a>
                    {{/if}}
              </div>
                <!-- <img class="img" class="img-responsive" src="/Images/Inspectors/RescueOperationTeam.jpg" alt=""> -->
            </div>

        </div>

        <script>

        $(".Button").click(function(e){
          var elementId = $(this).closest('div').attr('id');
          ElementName = elementId;

          var text = $(this).closest('div').find('.Text').text();
           updatedText = text;

        //   var Title = $(this).closest('div').find('.Title').text();
          //  heading=Title;
          //
           var PageURL = this.PageURL;
           var url = window.location.href;
          //
          PageURL = url;

           var data ={
             Text: updatedText,
             PageURL : PageURL,
             ElementId : ElementName
           }

           sessionStorage.setItem('data', JSON.stringify(data));


           console.log(data);

          //  $.get('/updateAboutUs', function(data){
          //  });


           });

           $('.Button').on('mouseenter',function(){
             $(this).closest('.Div').addClass('box-shadow');

             $('.Div').on('mouseleave',function(){
                $(this).closest('.Div').removeClass('box-shadow');
             })

           })









        </script>
