    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Cats Up for Adoption
                    <!-- <small>Secondary Text</small> -->
                </h1>
            </div>
        </div>
        <!-- /.row -->
        {{#data}}
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <!-- <a href="#"> -->
                    <img class="img-responsive" src="{{image}}" alt="">
                <!-- </a> -->
                <h3>
                  {{name}}
                </h3>
                <p>Age: {{age}}</p><p>Gender: {{gender}}</p>
                <p>Bio: {{bio}}</p>

            </div>
            {{/data}}
      
    </div>
    <!-- /.container -->

    <!-- jQuery -->
