<div class="container">
    <!-- <div class='row'>

        {{#data}}
        <div class="col-md-4" id="adoptCatSearch">


                    <img class="img-responsive img" src="{{image}}" alt="">

                <h3>
                  {{name}}
                </h3>
                <p>Age: {{age}}</p><p>Gender: {{gender}}</p>
                <p>Size: {{size}}</p>
                <p>Bio: {{bio}}</p>

            </div>
            {{/data}}
          </div> -->

          <div class="row">
            {{#data}}
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="{{image}}" alt="...">
            <div class="caption">
              <h3>{{name}}</h3>
              <p>Age: {{age}}</p><p>Gender: {{gender}}</p>
              <p>Size: {{size}}</p>
              <p>Bio: {{bio}}</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
        {{/data}}
      </div>



    </div>
    	<hr>
