<div id="adoptCat">
	<h1 class="page-header">Cats Up for Adoption</h1>
	<form  id="myForm" action="/adoptCat/search" method="POST" >
	    <div class="col-md-3">
	      <input type="radio" id="rb"  name="size" value="small" /> Small
	    </div>

	    <div class="col-md-3">
	      <input type="radio" id="rb" name="size" value="medium" /> Medium
	    </div>

	    <div class="col-md-3">
	      <input type="radio" id="rb" name="size" value="large" /> Large
	    </div>



		</form>
		<button type="submit" onClick="Reload()" id="btnRefresh" class="glyphicon glyphicon-repeat btn btn-primary pull-right" ></button>


		<div class="row">
			{{#data}}
	<div class="col-lg-3 col-md-5 col-sm-6 col-xs-12 thumb">
		<div class="well">
		<div class="thumbnail">

				<img class="adoptionsimages" src="{{image}}" alt="...">

			<div class="caption">
				<h3>{{name}}</h3>
				<p>Age: {{age}}</p><p>Gender: {{gender}}</p>
				<p>Size: {{size}}</p>
				<p>Bio: {{bio}}</p>
				<!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
			</div>
		</div>
	</div>
	</div>
	{{/data}}
</div>





    </div>
	

		<script >
	 	$(document).ready(function () {
	 		$('#myForm input').on('change', function() {
				var searchVal = $('input[name=size]:checked', '#myForm').val();
			$.get("/adoptCat/search/" + searchVal, function(results){
			  $("#adoptCat").html(results)

		 });
	 });
 });

 function Reload(){
	 location.reload();
 }




	 </script>
