


    <div class="row">
      <h1 class="page-header"style="height:50px;text-align: center;" >Adoptions </h1>

      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="col-md-3">
          <div id="adoptionsImageDiv1 " name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}}  >

            {{#adoptionsImageDiv1}}
              <img class="img" class="img-responsive" src="{{image}}">
            {{/adoptionsImageDiv1}}

            {{#if admin}}
                <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/updateImage"  ></a>
                {{/if}}
          </div>
          <!-- <img class="img-responsive placeholderImages" src="/Images/Cats/cat3.jpg" alt=""> -->
        </div>

        <div class="col-md-6">
          <div id="adoptionsDiv1 " name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}}  >

            {{#adoptionsDiv1}}
            <div class="Text" name="updatedText">
                {{{updatedText}}}
            </div>
            {{/adoptionsDiv1}}
              {{#if admin}}
                <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/update"  ></a>
              {{/if}}
                    </div>

      </div>

        <div class="col-md-3">
          <div id="adoptionsImageDiv2 " name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}}  >

            {{#adoptionsImageDiv2}}
              <img class="img" class="img-responsive" src="{{image}}">
            {{/adoptionsImageDiv2}}

            {{#if admin}}
                <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/updateImage"  ></a>
                {{/if}}
          </div>

          <!-- <img class="img-responsive placeholderImages" src="/Images/Dogs/catAndDog.jpeg" alt=""> -->
        </div>

      </div>
          <hr>


          <div class="col-sm-12 col-md-12 col-lg-12">

            <div class="col-md-3">
              <!-- <img class="img-responsive" src="http://placehold.it/1900x1200" alt=""> -->
            </div>

            <div class="col-md-6">
              <div id="adoptionsDiv2 " name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}}  >

                {{#adoptionsDiv2}}
                <div class="Text" name="updatedText">
                    {{{updatedText}}}
                </div>
                {{/adoptionsDiv2}}
                  {{#if admin}}
                    <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/update"  ></a>
                  {{/if}}
                        </div>
              <!-- <h3>Adoption Policy</h3>
                      <p>Before adopting an animal, please download and read the adoption policy.</p> -->



              <div class="col-md-1"></div>
                <div class="col-md-10">
                  <a href="/PDF/AdoptionPolicy.pdf" download class="btn btn-primary glyphicon glyphicon-floppy-save col-md-12" href="#"> Download </a>
                  <div id="mydiv"></div>
                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="col-md-3">
              <!-- <img class="img-responsive" src="http://placehold.it/1900x1200" alt=""> -->
            </div>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="col-md-3">
              <div id="adoptionsImageDiv3 " name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}}  >

                {{#adoptionsImageDiv3}}
                  <img class="img" class="img-responsive" src="{{image}}">
                {{/adoptionsImageDiv3}}

                {{#if admin}}
                    <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/updateImage"  ></a>
                    {{/if}}
              </div>
                <!-- <img class="img-responsive" src="/Images/Dogs/dog6.jpg" alt=""> -->
            </div>

            <div class="col-md-6">

              {{#unless user}}
              {{#unless admin}}
              <h3>Adopt A Cat or Dog</h3>

                      <p>Please click on one of these buttons to take you to view all the animals that are up for adoption </p>



                <div class="col-md-1"></div>
                  <div class="col-md-10">

                      <a class="btn btn-primary"  style="width: 100%" href="/adoptCat">Adopt a Cat </a>


                      <div class="spacer"></div>

                      <a class="btn btn-primary" style="width: 100%" href="/adoptDog">Adopt a Dog</a>

                    <div class="spacer"></div>
                  </div>

                  <div class="col-md-1"></div>
                  {{/unless}}
                  {{/unless}}

                  {{#if admin}}
                  <div id="adoptionsDiv3 " name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}}  >

                    {{#adoptionsDiv3}}
                    <div class="Text" name="updatedText">
                        {{{updatedText}}}
                    </div>
                    {{/adoptionsDiv3}}
                      {{#if admin}}
                        <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/update"  ></a>
                      {{/if}}
                            </div>
                      <div class="col-md-12">

                        <a class="btn btn-primary" style="width: 100%" href="/adoptions/add">Add an animal to adoptions</a>

                      </div>
                  {{/if}}
            </div>

            <div class="col-md-3">
              <div id="adoptionsImageDiv4 " name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}}  >

                {{#adoptionsImageDiv4}}
                  <img class="img" class="img-responsive" src="{{image}}">
                {{/adoptionsImageDiv4}}

                {{#if admin}}
                    <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/updateImage"  ></a>
                    {{/if}}
              </div>
              <!-- <img class="img-responsive" src="/Images/Cats/cat1.jpg" alt=""> -->

            </div>

          </div>





          <div class="col-sm-12 col-md-12 col-lg-12">

            <div class="col-md-3">
              <!-- <img class="img-responsive" src="http://placehold.it/1900x1200" alt=""> -->
            </div>

            <div class="col-md-6">
              <!-- <h3>Adoption Form</h3>
                      <p>Once you have decided on which animal(s) you would like to adopt, please download the form below and fill it out or email us at admin@awscape.org.za </p> -->

                      <div id="adoptionsDiv4 " name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}}  >

                        {{#adoptionsDiv4}}
                        <div class="Text" name="updatedText">
                            {{{updatedText}}}
                        </div>
                        {{/adoptionsDiv4}}
                          {{#if admin}}
                            <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/update"  ></a>
                          {{/if}}
                                </div>
              <div class="col-md-1"></div>
                <div class="col-md-10">

                    <!-- <button type="submit" id="downloadForm" class="btn btn-primary glyphicon glyphicon-floppy-save col-md-12">Download</button> -->



                  <a href="/PDF/Donations.pdf" download class="btn btn-primary glyphicon glyphicon-floppy-save col-md-12" href="#"> Download </a>
                  <!-- <a href="/PDF/AdoptionPolicy.pdf" download class="btn btn-primary glyphicon glyphicon-floppy-save col-md-12" href="#"> Download </a> -->

                  <div id="mydiv"></div>
</div>
                <div class="col-md-1"></div>
            </div>

            <div class="col-md-3">
              <!-- <img class="img-responsive" src="http://placehold.it/1900x1200" alt=""> -->
            </div>
          </div>



        <hr>






  </div>



<script>
$('#downloadForm').click( function() {
    $('#mydiv').append("<p>No Form to be downloaded, please use email service in the meantime.</p>");
  $('#downloadForm').prop('disabled',true); } );

</script>

<script>

      $(".Button").click(function(e){
        var elementId = $(this).closest('div').attr('id');
        ElementName = elementId;

        var text = $(this).closest('div').find('.Text').text();
         updatedText = text;

      //   var Title = $(this).closest('div').find('.Title').text();
        //  heading=Title;
        //
         var PageURL = this.PageURL;
         var url = window.location.href;
        //
        PageURL = url;

         var data ={
           Text: updatedText,
           PageURL : PageURL,
           ElementId : ElementName
         }

         sessionStorage.setItem('data', JSON.stringify(data));


         console.log(data);

        //  $.get('/updateAboutUs', function(data){
        //  });


         });

         $('.Button').on('mouseenter',function(){
           $(this).closest('.Div').addClass('box-shadow');

           $('.Div').on('mouseleave',function(){
              $(this).closest('.Div').removeClass('box-shadow');
           })

         })









      </script>

<style>
    .spacer {
        width: 10px;
        height: auto;
        display: inline-block;
    }


</style>
