    <div class="container">

        <!-- Page Header -->
        <!-- <div class="row"> -->
            <!-- <div class="col-lg-12"> -->
                <h1 class="page-header">Animals up for Adoption

                </h1>
            <!-- </div> -->
        <!-- </div> -->
        <!-- /.row -->

            <div class='row'>
            <!-- /.row -->
            {{#data}}
            <div class="col-md-4">
                <form action='/allAnimals/remove/{{id}}' method='POST'>
                  <!-- <div class="col-md-4 portfolio-item"> -->
                    <!-- <a href="#"> -->
                        <img class="img-responsive img" src="{{image}}" alt="">
                    <!-- </a> -->
                    <button class="col-md-12" type='submit'>REMOVE</button>
                    <h3>
                      {{name}}
                    </h3>
                    <p>Age: {{age}}</p><p>Gender: {{gender}}</p>
                    <p>Bio: {{bio}}</p>
                  </form>
                  <!-- </div> -->
                </div>

                {{/data}}
              </div>





    </div>
