
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Animals up for Adoption

                </h1>
            </div>
        </div>
        <!-- /.row -->
        {{#data}}
<<<<<<< HEAD
        <form action='/allAnimals/remove/{{id}}' method='POST'>
=======
>>>>>>> 3e52b1af67188c0767d4dc45a99bd00621933ec6
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <!-- <a href="#"> -->
                    <img class="img-responsive" src="{{image}}" alt="">
                <!-- </a> -->
                <h3>
                  {{name}}
                </h3>
                <p>Age: {{age}}</p><p>Gender: {{gender}}</p>
                <p>Bio: {{bio}}</p>
<<<<<<< HEAD
                <button type='submit'>REMOVE</button>
            </div>
          </form>
=======
            </div>
>>>>>>> 3e52b1af67188c0767d4dc45a99bd00621933ec6
            {{/data}}






    </div>
