<div class="container">
    <h1 class="page-header">Animals up for Adoption</h1>

    <div class='row'>

    {{#data}}
    <div class="col-md-4">
        <form action='/allAnimals/remove/{{id}}' method='POST'>
          <img class="img-responsive img" src="{{image}}" alt="">
          <button class="col-md-12" type='submit'>REMOVE</button>
            <h3>
              {{name}}
            </h3>
              <p>Age: {{age}}</p><p>Gender: {{gender}}</p>
              <p>Bio: {{bio}}</p>
          </form>
    </div>
    {{/data}}
  </div>
</div>
