

  <h1 class="page-header" > Donations & GivenGain</h1>

    <div align="center" width="100%">
<div class="row">
    <!-- Page Heading -->
    <div class="row" id="GivenGain">
        <div class="col-lg-12">
          <div class="col-md-3" >
            <div id="givenGainImageDiv1 " name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}}  >

              {{#givenGainImageDiv1}}
                <img class="img" class="img-responsive" src="{{image}}">
              {{/givenGainImageDiv1}}

              {{#if admin}}
                  <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/updateImage"  ></a>
                  {{/if}}
            </div>
            <!-- <img class="img-responsive" src="/Images/Donations/Donations.jpg" alt=""> -->
          </div>

          <div class="col-md-6" >
            <div id="givenGainDiv1" name="ElementId" {{#if admin}}  class="Div borderClass"{{/if}}>
              {{#givenGainDiv1}}
                <div class="Text" name="updatedText">
                  {{{updatedText}}}
                </div>
              {{/givenGainDiv1}}

              {{#if admin}}
                <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/update"  ></a>
              {{/if}}
            </div>
              <a class="btn btn-primary" href="https://www.payfast.co.za/donate/go/animalwelfaresocietyofsouthafrica">Donate Online</a>
              <a href="/PDF/Donations.pdf" download class="btn btn-primary glyphicon glyphicon-floppy-save ">Download</a>
          </div>
<div class="col-md-3">
  <div id="givenGainImageDiv2 " name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}}  >

    {{#givenGainImageDiv2}}
      <img class="img" class="img-responsive" src="{{image}}">
    {{/givenGainImageDiv2}}

    {{#if admin}}
        <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/updateImage"  ></a>
        {{/if}}
  </div>
  <!-- <img class="img-responsive" src="/Images/Donations/donate.jpg" alt=""> -->

</div>
</div>
<hr>
<div class="col-lg-12">
<div class="col-md-3">
  </div>

<div class="col-md-6">

  <div id="givenGainDiv2" name="ElementId" {{#if admin}}  class="Div borderClass"{{/if}}>
    {{#givenGainDiv2}}
      <div class="Text" name="updatedText">
        {{{updatedText}}}
      </div>
    {{/givenGainDiv2}}

    {{#if admin}}
      <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/update"  ></a>
    {{/if}}
  </div>
            </div>

            <div class="col-md-3">

            </div>
          </div>
            <hr>

<div class="col-lg-12">
  <hr>
  <div class="col-md-3">
    <div id="givenGainImageDiv3 " name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}}  >

      {{#givenGainImageDiv3}}
        <img class="img" class="img-responsive" src="{{image}}">
      {{/givenGainImageDiv3}}

      {{#if admin}}
          <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/updateImage"  ></a>
          {{/if}}
    </div>
    <!-- <img class="img-responsive" src="/Images/Donations/DonateNow.png" alt="" style="padding-top:75px;"> -->

  </div>

  <div class="col-md-6">
    <div id="givenGainDiv3" name="ElementId" {{#if admin}}  class="Div borderClass"{{/if}}>
      {{#givenGainDiv3}}
        <div class="Text" name="updatedText">
          {{{updatedText}}}
        </div>
      {{/givenGainDiv3}}

      {{#if admin}}
        <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/update"  ></a>
      {{/if}}
    </div>
          </div>

<div class="col-md-3">
  <div id="givenGainImageDiv4 " name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}}  >

    {{#givenGainImageDiv4}}
      <img class="img" class="img-responsive" src="{{image}}">
    {{/givenGainImageDiv4}}

    {{#if admin}}
        <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/updateImage"  ></a>
        {{/if}}
  </div>
  <!-- <img class="img-responsive" src="/Images/Donations/GivenGain.jpg" alt=""> -->
</div>
</div>
          <hr>

          <div class="col-lg-12">
            <hr>
            <div class="col-md-3">
              <div id="givenGainImageDiv5 " name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}}  >

                {{#givenGainImageDiv5}}
                  <img class="img" class="img-responsive" src="{{image}}">
                {{/givenGainImageDiv5}}

                {{#if admin}}
                    <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/updateImage"  ></a>
                    {{/if}}
              </div>
            <!-- <img class="img-responsive" src="/Images/ClinicPics/healthcareforanimals.jpg" alt=""> -->

            </div>

            <div class="col-md-6">

              <div id="givenGainDiv4" name="ElementId" {{#if admin}}  class="Div borderClass"{{/if}}>
                {{#givenGainDiv4}}
                  <div class="Text" name="updatedText">
                    {{{updatedText}}}
                  </div>
                {{/givenGainDiv4}}

                {{#if admin}}
                  <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/update"  ></a>
                {{/if}}
              </div>
        </div>
        <div class="col-md-3">
          <div id="givenGainImageDiv6 " name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}}  >

            {{#givenGainImageDiv6}}
              <img class="img" class="img-responsive" src="{{image}}">
            {{/givenGainImageDiv6}}

            {{#if admin}}
                <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/updateImage"  ></a>
                {{/if}}
          </div>
          <!-- <img class="img-responsive" src="/Images/ClinicPics/sterilize-cat.jpg" alt=""> -->



        </div>
      </div>

                  <div class="col-lg-12">
                    <hr>

                    <div class="col-md-3">


                    </div>

                    <div class="col-md-6">

                      <div id="givenGainDiv5" name="ElementId" {{#if admin}}  class="Div borderClass"{{/if}}>
                        {{#givenGainDiv5}}
                          <div class="Text" name="updatedText">
                            {{{updatedText}}}
                          </div>
                        {{/givenGainDiv5}}

                        {{#if admin}}
                          <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/update"  ></a>
                        {{/if}}
                      </div>



              <a class="btn btn-primary" href="https://www.givengain.com/cause/3857/">Donate through GivenGain</a>
            </div>

            <div class="col-md-3">



            </div>

    </div>




    </div>
  </div>
</div>

<script>

  $(".Button").click(function(e){
    var elementId = $(this).closest('div').attr('id');
    ElementName = elementId;

    var text = $(this).closest('div').find('.Text').text();
     updatedText = text;

  //   var Title = $(this).closest('div').find('.Title').text();
    //  heading=Title;
    //
     var PageURL = this.PageURL;
     var url = window.location.href;
    //
    PageURL = url;

     var data ={
       Text: updatedText,
       PageURL : PageURL,
       ElementId : ElementName
     }

     sessionStorage.setItem('data', JSON.stringify(data));


     console.log(data);

    //  $.get('/updateAboutUs', function(data){
    //  });


     });

     $('.Button').on('mouseenter',function(){
       $(this).closest('.Div').addClass('box-shadow');

       $('.Div').on('mouseleave',function(){
          $(this).closest('.Div').removeClass('box-shadow');
       })

     })









  </script>
